.form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}
.error {
  color: white;
  background: tomato;
}

.label {
  padding: 0.2rem 0.5rem;
  font-weight: 700;
}

.select {
  margin: 0.2rem 0;
}
