.newsSection {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: scroll;
    margin-top: 1rem;
    margin: auto;
    padding: 1rem;
}

.newsSection::-webkit-scrollbar {
    width: 0.4rem;
  }
   
.newsSection::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }
.newsSection::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.561);
    border-radius: 10px;
  }